page-login {

    .login {
        position: fixed;
        width: 100%;
        left: 0;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
    }

    .separator {
        display: block;
        margin: 15px auto;
        text-align: center;
        text-transform: uppercase;
    }
}
