<!--
  Generated template for the ViewProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="light">
    <ion-navbar color="light"></ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="product">
        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <h1 class="product-name">
                        <strong> {{product.name}} </strong>
                    </h1>
                </ion-col>
                <ion-col padding col-4 text-right>
                    <ion-icon name="star"> {{product.rating}} </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <img [src]="'http://45.55.238.48:8000/img/' + product.imagePath" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="product-datails">
                    <h3 class="product-sku product-name"> Color: </h3>

                    <span class="product-sku__color__yellow"></span>
                    <span class="product-sku__color__red product-sku__color--active"></span>
                    <span class="product-sku__color__blue"></span>
                    <span class="product-sku__color__black"></span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="product-datails">
                    <h3 class="product-sku product-name"> Size </h3>

                    <span *ngFor="let size of product.sizes; let i = index" class="product-sku__size" [ngClass]="{'product-sku__size--active' : selected === i }" (click)="selectSize(i)"> {{size}} </span>

                    <!-- <span class="product-sku__size product-sku__size--active"> {{product.size}} </span>
                    <span class="product-sku__size"> 36 </span>
                    <span class="product-sku__size"> 38 </span>
                    <span class="product-sku__size"> 41 </span> -->
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p class="product-name"> Product Code: </p>
                    <strong>{{product._id}}</strong>

                </ion-col>
            </ion-row>
        </ion-grid>

    </div>


    <div *ngIf="!product" class="loading">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
</ion-content>

<ion-footer color="primary" (click)="addToCart(product)">
    <ion-toolbar>
        <strong>Adicionar ao carrinho </strong>
    </ion-toolbar>
</ion-footer>