<ion-header color="light">
    <ion-toolbar color="light">
        <ion-buttons left>
            <ion-navbar color="light"></ion-navbar>
        </ion-buttons>
        <ion-title>Linx eShop</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="product">
        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <h1 class="product-name">
                        <strong> {{product.name}} </strong>
                    </h1>
                </ion-col>
                <ion-col padding col-4 text-right>
                    <ion-icon name="star-outline" class="rating"> {{product.rating}} </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <img [src]="'http://45.55.238.48:8000/img/' + product.imagePath" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8>
                    <p class="product-sku product-name"> Preço: <strong> {{product.price | currency:'BRL':true}} </strong> </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="product-datails">
                    <p class="product-sku product-name"> Color: </p>

                    <span *ngFor="let color of colors" class="product-sku__color__{{color}}" [ngClass]="{'product-sku__color--active' : selectedColor === color}" (click)="selectColor(color)"></span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="product-datails">
                    <p class="product-sku product-name"> Size </p>

                    <span *ngFor="let size of product.sizes; let i = index" class="product-sku__size" [ngClass]="{'product-sku__size--active' : selectedSize === i }" (click)="selectSize(i)"> {{size}} </span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p class="product-name"> Product Code: </p>
                    <strong>{{product._id}}</strong>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="!product" class="loading">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
</ion-content>

<ion-footer color="primary" (click)="addToCart(product)">
    <ion-toolbar>
        <strong>Adicionar ao carrinho </strong>
    </ion-toolbar>
</ion-footer>
