page-home {


    .scroll-content, .fixed-content { margin-bottom: 0 !important; }

    .swiper-slide {
        width: 40%;
        border: 2px solid transparent;
        transition: border-color .25s;

        &.swiper-slide--selected { border-color: #ffb200; }

        .slide-zoom { pointer-events: none; }

        .btn-go {
            position: absolute;
            left: -50%;bottom: 40px;
            transform: translateX(-50%);
        }
    }

    h2 {
        color: #5b2e90;
        padding-left: 2vw;
        font-size: 1.5em;
    }

    ion-footer {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        transition: bottom .15s;

        &.footer-md { bottom: -56px; }
        &.footer-ios { bottom: -44px; }

        &.visible { bottom: 0; }
    }
}

.menu {
    list-style: none;
    padding: .3em 0;
    margin: 1.3em 0 3em 0;

    .menu__item {
        float: left;

        font-size: 1.5em;
        color: #333;
        text-transform: capitalize;

        margin: 0 .6em;
    }
}
