<ion-header>
    <ion-toolbar color="light">

        <ion-buttons start>
            <button ion-button icon-only color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Linx Moda Shop</ion-title>

        <ion-buttons end>
            <button ion-button icon-only color="primary" (click)="goToCartPage()">
                <ion-icon class="lx lx-basket"></ion-icon>
                <ion-badge id="notifications-badge" color="danger">5</ion-badge>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ul class="menu">
        <li class="menu__item"> Women </li>
        <li class="menu__item"> Man </li>
        <li class="menu__item"> Kids </li>
        <li class="menu__item"> Babies </li>
    </ul>

    <ion-slides autoplay="5000" class="banners" style="height: 33vh;" *ngIf="categories.length">
        <ion-slide *ngFor="let category of categories">
            <img [src]="'http://45.55.238.48:8000/img/' + category.products[0].imagePath" />
            <button ion-button color="secondary" class="btn-go"> EU QUERO </button>
        </ion-slide>
    </ion-slides>

    <div *ngFor="let category of categories">

        <h2 class="">{{category.name}}</h2>

        <ion-slides slidesPerView="auto" centeredSlides="true" spaceBetween="15" initialSlide="1" style="height: 30vh;" *ngIf="category.products">
            <ion-slide *ngFor="let product of category.products" (tap)="selectProduct($event, product._id)">
                <img [src]="'http://45.55.238.48:8000/img/' + product.imagePath" />
            </ion-slide>
        </ion-slides>
    </div>

</ion-content>

<ion-footer color="primary" [ngClass]="{ 'visible': !!selected }" (tap)="viewProduct()">
    <ion-toolbar>
        View Details
    </ion-toolbar>
</ion-footer>